/* RESET CODE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* fraunces-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/fraunces-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/fraunces-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v29-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/montserrat-v29-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/montserrat-v29-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* CSS VARIABLES */
:root {
  /* COLORS */
  --bg-primary: hsl(30, 38%, 92%);
  --bg-secondary: hsl(0, 0%, 100%);
  --font-color-para: hsl(228, 12%, 48%);
  --bg-btn-price: hsl(158, 36%, 37%);
  --bg-btn-hover: hsl(158, 36%, 20%);
  /* FONTS */
  --ff-heading: "Fraunces", serif;
  --ff-para: "Montserrat", sans-serif;
  --ft-weight-para: 500;
  --ft-weight-btn: 700;
  --ft-sz-heading: 2rem;
  --ft-sz-para: 0.875rem;
  /* MARGIN */
  --mb-22: 1.375rem;
  --mb-16: 1rem;
  --mb-30: 1.875rem;
  --mb-18: 1.125rem;
}

/* UTITLITY CLASS */
.hidden {
  display: none;
}
.mb-22 {
  margin-bottom: var(--mb-22);
}
.mb-16 {
  margin-bottom: var(--mb-16);
}
.mb-30 {
  margin-bottom: var(--mb-30);
}
.mb-18 {
  margin-bottom: var(--mb-18);
}
/* GENERAL CSS */
body {
  min-height: 100vh;
  background: var(--bg-primary);
  display: flex;
  align-items: center;
  font-family: var(--ff-para);
}
/* CONTAINER CSS */
.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  width: min(calc(100% - 1rem), 600px);
  background: var(--bg-secondary);
  margin-inline: auto;
  border-radius: 10px;
}
@media screen and (min-width: 23.4375em) {
  .container {
    width: min(calc(100% - 2rem), 600px);
  }
}
.perfume {
  padding: 0 1.5rem 1.5rem;
}
/* IMAGE CSS */
.container figure .perfume-mobile {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.container figure figcaption {
  position: absolute;
  left: -10000px;
}
/* STYLE PARAGRAPH ELEMNTS */
.perfume__description,
.perfume__hero,
.perfume__original-price {
  color: var(--font-color-para);
  font-weight: var(--ft-weight-para);
  font-size: var(--ft-sz-para);
}
.perfume__description {
  line-height: 1.5;
}

/* STYLE HEADING */
.perfume__heading,
.perfume__current-price {
  font-family: var(--ff-heading);
  font-size: var(--ft-sz-heading);
}

/*  STYLE PERFUME HERO */
.perfume__hero {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* STYLE PRICE */

.perfume__price {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  gap: 1rem;
}

.perfume__current-price {
  color: var(--bg-btn-price);
}
.perfume__original-price {
  text-decoration: line-through;
}

/* SHOPPING BUTTON */
.perfume__shopping-btn:any-link {
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--bg-btn-price);
  padding: 1rem 0;
  color: var(--bg-secondary);
  font-size: var(--ft-sz-para);
  font-weight: var(--ft-weight-btn);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.perfume__shopping-btn:before {
  content: url(images/icon-cart.svg);
  display: flex;
  align-items: center;
}
.perfume__shopping-btn:hover,
.perfume__shopping-btn:focus {
  background: var(--bg-btn-hover);
}
